/* .logotype {
	grid-column-start: 2;
	justify-content: start;

	display: flex;
	flex-direction: row;
	justify-content: start;
} */

.logotype img {
	width: 48px;
	height: 48px;
}
.networkName {
	font-weight: bold;
	padding: 5px;
	color: blue;
}
