.paginator span {
	padding: 4px;
}
.paginator {
	text-align: center;
	background-color: white;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 10px;
	cursor: pointer;
}
.paginator button {
	font-weight: bold;
	background-color: white;
	border: none;
	font-size: large;
	cursor: pointer;
}
.activePage {
	color: red;
	font-weight: bold;
	font-size: 21px;
}
