.item {
	margin-left: 30px;
	font-weight: 100;
}

.item a {
	display: flex;
	flex: row;
	align-items: center;
}

.item__icon {
	width: 30px;
	height: 30px;
	padding: 10px 0px;
	padding-right: 30px;
}
.item__name {
	width: 100px;
}
