.loginPage {
	display: grid;
	grid-template-columns: 50% 35%;
	background: url(../../../assets/images/reactBackground.png);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;
}
.welcome {
	padding: 20px;
	margin: auto;
	color: white;
	font-size: 150px;
}
.loginForm {
	padding: 30px 40px;
	background: rgba(255, 255, 255, 0.1);
	color: white;
}
.form__instruction {
	padding-bottom: 30px;
}
.form input,
.form__button button {
	margin: 10px 0px;
	height: 40px;
	width: 100%;
	border-radius: 10px;
	border: 1px solid gray;
	outline: none;
	padding-left: 10px;
}
.form__checkbox {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.form__checkbox input {
	width: 30px;
	margin-right: 20px;
}
.form__button button {
	background-color: #3f86fc;
	color: white;
	font-size: large;
}
.form__serverError {
	border: solid red 2px;
}
