.loginPage {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: white;
	padding: 5px 0 25px 15px;
}

.loginForm input {
	margin-bottom: 5px;
}

.loginButton button {
	width: 100%;
	background-color: green;
	color: white;
	border-radius: 5px;
}
