.header {
	display: grid;
	grid-template-columns: 15% 35% 35% 15%;
	column-gap: 10px;
	/* align-items: center; */
	background-color: white;
	font-weight: bold;

	height: 55px;
	padding: 10px;
	margin-bottom: 15px;
}

.login {
	color: red;
}

.loginBlock a {
	color: red;
}
