.header {
	display: grid;
	grid-template-columns: 15% 1fr 8% 15%;
	grid-template-rows: 75px;
	grid-template-areas: 'network search  user user';
	align-items: center;
	background-color: white;
	font-weight: bold;
	margin-bottom: 10px;
}

.network {
	display: flex;
	flex-direction: row;
	align-items: center;
	grid-area: network;
	margin-left: 10px;
}
.network__logotype {
	min-width: 60px;
	min-height: 60px;
	margin-right: 10px;
}
.network__name {
	font-size: 23px;
	color: #1082f4;
}
.search {
	grid-area: search;
	text-align: center;
	/* border: 1px solid black; */
}
.search input {
	max-width: 80%;
}

.user {
	grid-area: user;
	margin-right: 10px;
}
.user__login {
	display: grid;
	grid-template-columns: 60px auto;
}
.login__avatar {
	width: 60px;
	height: 60px;
}
.login__info {
	display: grid;
	grid-template-columns: repeat(4, auto);
}
.login__name {
	margin: auto;
	font-size: x-large;
}
.logoutButton,
.login__message,
.login__notifycation {
	margin: auto;
	width: 30px;
	height: 30px;
}
.user__loguot {
	width: 60px;
	height: 60px;
	margin: auto;
}
.logoutButton img {
	cursor: pointer;
}
