.header {
	display: grid;
	grid-template-columns: 15% 1fr auto;
	grid-template-rows: 75px;
	grid-template-areas: 'network search  userAuth ';
	align-items: center;
	background-color: white;
	font-weight: bold;
	margin-bottom: 10px;
}

.network {
	display: flex;
	flex-direction: row;
	align-items: center;
	grid-area: network;
	margin-left: 20px;
}
.network__logotype {
	min-width: 60px;
	min-height: 60px;
	margin-right: 10px;
}
.network__name {
	font-weight: 500;
	font-size: x-large;
	color: #1082f4;
}
.search {
	grid-area: search;
	text-align: center;
	/* border: 1px solid black; */
}
.search input {
	max-width: 80%;
}

.userAuth {
	grid-area: userAuth;
	display: grid;
	grid-template-columns: auto repeat(3, 25%);
	margin-right: 10px;
}
.user {
	display: grid;
	grid-template-columns: repeat(5, auto);
}
.user__avatar {
	width: 60px;
	height: 60px;
	padding: 0px 20px;
}
.user__name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-weight: 400;
	font-size: x-large;
}
.logoutButton,
.user__message,
.user__notification {
	margin: auto;
	width: 25px;
	height: 25px;
	padding: 0px 10px;
}
.user__loguot {
	width: 60px;
	height: 60px;
}
.logoutButton img {
	cursor: pointer;
}
