.navbar,
.navbarLogin {
	display: flex;
	flex-direction: column;
	align-self: center;
	position: fixed;
	border-radius: 5px;
	width: 14.3%;
	background-color: white;
}

.navbarLogin {
	background-color: transparent;
	margin-top: 85px;
}
