.friend {
	display: flex;
	flex-direction: row;
	padding-top: 10px;
}
.fiend__avatar {
	width: 60px;
	height: 60px;
}
.friend__name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
}
