.lastUser {
	display: flex;
	flex-direction: row;
	padding-top: 10px;
}
.lastUser__avatar {
	width: 45px;
	height: 45px;
}
.lastUser__name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
}
