.loginPage {
	display: grid;
	grid-template-columns: 15% 35% 50%;
	grid-template-areas: '. form welcome';
	background: url(../../assets/images/BackgroundsHeaders/loginBG.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;
}
.welcome {
	grid-area: welcome;
	padding: 20px;
	margin: auto;
	color: white;
	font-size: 150px;
	padding-left: 50px;
	max-width: 100%;
}
.loginForm {
	grid-area: form;
	padding: 15px 40px;
	background: rgba(255, 255, 255, 1);
	color: #1084dd;
}

.form input,
.form__button button {
	margin: 10px 0px;
	height: 40px;
	width: 100%;
	border-radius: 10px;
	border: 1px solid gray;
	outline: none;
	padding-left: 10px;
}
.form__checkbox {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.form__checkbox input {
	width: 30px;
	margin-right: 20px;
	cursor: pointer;
}
.form__button button {
	background-color: #1084dd;
	color: white;
	font-size: large;
	cursor: pointer;
}
.form__serverError {
	border: solid red 2px;
	border-radius: 10px;
	color: red;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	width: 100%;
	font-size: large;
}
