.bodyApp {
	display: grid;
	grid-template-columns: 15% 70% 15%;
	grid-template-rows: auto;
	grid-template-areas: 'navbar content add';
}
.app a {
	text-decoration: none;
	color: black;
}

.app a.active {
	color: red;
	font-weight: bold;
}
.navbar {
	grid-area: navbar;
	margin-top: 85px;
}
.content {
	grid-area: content;
	margin-top: 85px;
}

.last-users {
	grid-area: add;
}

.loginBody {
	display: grid;
	grid-template-areas: 'navbar login login';
}

.login {
	grid-area: login;
}

.loginContent {
	margin-top: 0px;
}
